:root{
    --bg-primary: #0A3871;
    --bg-secondary: #D8DFE8;
    --bg-thirdary: #F3F5FC;
    --bg-quarter: #FFF;
    --color-primary: #fff;
    --color-secondary: #0A3871;
    --color-thirdary: #495057;
    --bg-button-pimary: #0A3871;
    --bg-button-secondary: #D8DFE8;
}
@font-face {
    font-family: "Inter_24pt-Bold";
    src: url(../storage/font/Inter/Inter_24pt-Bold.ttf);
}

@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(../storage/font/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: "Inter_28pt-Regular";
    src: url(../storage/font/Inter/Inter_28pt-Regular.ttf);
}
@font-face {
    font-family: "Inter_24pt-Regular";
    src: url(../storage/font/Inter/Inter_24pt-Regular.ttf);
}